.wrapper {
    border-collapse: collapse;
    margin: 2rem 0;
}

.wrapper thead tr, .wrapper tbody tr:nth-child(2n) {
    background-color: #eee;
}

.wrapper td, .wrapper th {
    padding: 4px 1rem;
    text-align: center;
    font-weight: normal;
}

.cycle {
    width: 300px;
    float: left;
}
