@import "~font-awesome/css/font-awesome.css";

body {
    position: relative;
    color: #222;
    height: 100vh;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    display: flex;
    align-items: stretch;
}

#root {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

body, button, input {
    font-size: 32px;
}

svg {
    font-size: 1.25rem;
}

hr {
    margin: 2rem 0;
    box-shadow: 0 4px 2px -2px #777;
}

h2 {
    margin: 0 0 1rem 0;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #222;
    box-shadow: 0 4px 2px -2px #777;
    text-align: center;
}

h3 {
    margin: 2rem 0 1rem;
}

ul {
    list-style: none;
    margin-top: 0.25em;
    padding-left: 0;
}

a {
    opacity: 0.8;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 0.5rem 0;
    text-align: center;
}

button {
    background-color: #e4f0ff;
    border: 1px solid #444;
    color: #222;
    display: block;
    cursor: pointer;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.25rem 1rem;
    outline: none;
    min-width: 420px;
    height: 47px;
}

button .fa {
    float: left;
    margin-top: 2px;
}

button .fa.fa-arrow-right {
    float: right;
    margin-top: 2px;
}

button:hover {
    background-color: #b0d3ff;
}

input {
    padding: 3px 8px;
    box-sizing: border-box;
    min-width: 420px;
}

form {
    text-align: center;
}

section {
    min-width: 340px;
    text-align: center;
    flex: 1;
}

.tests, .full-height, .result-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
}

.tests {
    justify-content: space-around;
    overflow-y: auto;
}

.full-height {
}

.result-page {
    justify-content: initial;
    font-size: 28px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
    width: 50px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke-linecap: round;
    transition: stroke-dashoffset 200ms linear 0s;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    max-width: 800px;
}

.cell {
    padding: 1px 2px;
    flex: 1;
}

.right {
    text-align: right;
}
