.container {
    padding: 0.5em;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.input {
    background: transparent;
    color: "#222";
    margin: 3rem auto;
    outline: none;
    display: block;
}

.continueButton {
    display: block;
    margin: 0 auto;
}

.doneButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.close {
    margin: 1.5em 0;
}

label {
    display: block;
    margin-top: 3rem;
}

.explanation {
    font-size: 1.75rem;
    margin: 6rem auto 0;
}
